[Desktop Entry]
Name=BCAIP
Exec=/usr/lib/BCAIP/BCAIP %U
Icon=/usr/share/pixmaps/BCAIP.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;