[Desktop Entry]
Name=BCAIP
Exec=/usr/lib/bcaip/BCAIP %U
Icon=/usr/share/pixmaps/bcaip.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;